article,body {
margin: 8px;
background-color: darkGrey;
display: block


}

#mainheading {
color: red;
text-align: center;
border-style:double;
border-color:blue;
font-size: 40pt;

}

.funParagraph {
color: green;
font-size: 30pt;
text-align: center;
}

#testP {
color: blueviolet;
border-color:darkblue

}